body {
  margin: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  background-color: #235191;
  color: white;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-top: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.container {
  width: 1000px;
  display: block;
  margin-top: 30px;
}

.weather-app {
  padding: 30px;
  border: 1px solid #dadde1;
  border-radius: 8px;
}

.form-control {
  border-radius: 20px;
  background-color: red;
color: white;
}

.overview {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: white);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: white;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperature {
  font-size: 13px;
}

.form-control {
  background-color: #235191;
}

.quote-image {
  text-align: right;
}